body {
	font-family:Tahoma;
	margin-left:auto;
	margin-right:auto;
	background-color:black;
	color:white;
	text-align:center;
	font-size:20px;

}

#console{
	font-size:40px;
}

html {
	margin-top:10%;

}