body{
	font-family: Arial;
	font-size: 14px;
}

#title{
	font-size: 20px;
	padding: 2% 5% 0 5%
}

#directions{
	padding: 2% 5% 2% 5%;
}

#survey{
	padding: 0 5% 2% 5%;
}

#cont{
	margin-left: 50%;
}

.radio li{
	display: inline-block;
	line-height: 10px;
}

#knowledge li{
	list-style: none;
	display: inline-block;
}

ul{
	padding-left: 0px;
}